version: '3.7'
services:
    postgres:
        image: postgres:9.6
        restart: always
        env_file:
          - database.env
        logging:
          options:
            max-size: 10m
            max-file: "3"
        ports:
          - '5435:5432'
        volumes:
          - ./postgres-data:/var/lib/postgresql/data
